
table{
	width:600px;
	text-align:center;
	border:1px solid black;
	border-radius: 10px;
	border-collapse:collapse;
}
th{
	background-color:#355c96;
	color:white;
	font-size:15px;
}
#color{
	background-color:#c5d2e6;
}
table{
	border-radius:10pxx
}


